@mixin transform($transforms) {
          transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
     -moz-transform: $transforms;
  -webkit-transform: $transforms;
}

//transform origin
@mixin transform-origin ($origin) {
          transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
    moz-transform-origin: $origin;
  -webkit-transform-origin: $origin;
}

@mixin shift($property: all, $duration: .3s, $ease: linear){
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

//usage: @include shift([property],[duration],[easing]);