%vertical-align {
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
}

%grayscale {
  filter: grayscale(50%);
  transition: filter $default-duration;
}

%none-grayscale {
  filter: grayscale(0);
}

%fl {
  float: left;
}

%fr {
  float: right;
}

%fn {
  float: none;
}
%list-unstyled {
  list-style: none;
}

%bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}