// HEADINGS
// =======================================================
// Predefine the variables below in order to alter and enable specific features.
$heading-size-1:  36px !default;
$heading-size-2:  30px !default;
$heading-size-3:  22px !default;
$heading-size-4:  20px !default;
$heading-size-5:  18px !default;
$heading-size-6:  16px !default;

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
	
	font-family: $base-heading-font-family;
	@include font-weight( $base-heading-font-weight );
	@if ( $base-heading-font-style != null ) {
		font-style: $base-heading-font-style;
	}
	@if ( $base-heading-text-transform != null ) {
		text-transform: $base-heading-text-transform;
	}
}

html[lang="ja"] {
	h1, .alpha,
	h2, .beta,
	h3, .gamma,
	h4, .delta,
	h5, .epsilon,
	h6, .zeta {
		font-family: $font-japanese;
	}
}


h1,
.alpha,
%alpha {
	@include font-size( $heading-size-1, 1.2 );
	color: $color-gray-darker;
}

h2,
.beta,
%beta {
	@include font-size($heading-size-2);
}

h3,
.gamma,
%gamma {
	@include font-size($heading-size-3);
}

h4,
.delta,
%delta {
	@include font-size($heading-size-4);
}

h5,
.epsilon,
%epsilon {
	@include font-size($heading-size-5);
}

h6,
.zeta,
%zeta {
	@include font-size($heading-size-6);
}