// HEADER
// ==========================================================================

.header {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	background: $color-black;
	z-index: z("header");
	padding: 10px 15px;
	transition: all 0.5s;
	text-align: center;
	@include media-breakpoint-up(md) {
		padding: 10px 15%;
	}
}

.nav {
	&__toggle {
		width: 35px;
    	height: 45px;
    	z-index: 99;
    	overflow: hidden;
    	cursor: pointer;
    	position: relative;
    	float: left;
		span {
			display: block;
		    width: 100%;
		    height: 1px;
		    margin: 10px 0;
		    background: white;
		    &:nth-child(1) {
		    	transition: all 0.5s ease 0s;
		    }
		    &:nth-child(2) {
		    	transition: all 0.4s ease 0s;
		    }
		    &:nth-child(3) {
		    	transition: all 0.3s ease 0s;
		    }

		}	
		&:hover, &:focus {
		 	span {
		 		transform: rotate3d(0, 1, 0.1, 180deg);
		 	}
	    }
	    &.toggle-open {
	    	span {
	    		transform-origin: 50% 50%;
			    opacity: 0;
			    position: absolute;
			    top: 25%;
			    left: 0;
			    &:first-child {
			    	opacity: 1;
			    	transform: rotate3d(0, 0, 1, 45deg);
			    }
			    &:last-child {
			    	opacity: 1;
			    	transform: rotate3d(0, 0, 1, -45deg);
			    }
	    	}
	    	&:hover, &:focus {
	    		span {
	    			&:first-child {
	    				transform: rotate(-15deg);
	    			}
	    			&:last-child {
						transform: rotate(15deg);
	    			}
	    		}
	    	}
	    }
	}
	&__hotline {
		float: right;
		line-height: 45px;
		color: $color-brand-5;
		display: none;
		[class^="icon-"] { 
			display: inline-block;
			margin-right: 10px;
		}
		a {
			color: $color-brand-5;
			text-decoration: underline;
			&:hover, &:focus {
				color: $color-white;
				text-decoration: none;
			}
		}
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
	&__social {
		float: right;
		line-height: 45px;
		margin-left: 100px;
		display: none;
		[class^="icon-"] {
			display: inline-block;
			margin-left: 15px;
			transition: all 0.5s;
			&:hover, &:focus {
				&:before {
					color: $color-white;
				}
				[class^="path"] {
					&:before {
						color: $color-white;
					}
				}
			}
		}
		@include media-breakpoint-up(md) {
			display: block;
		}
	}
	&__items {
		display: none;
		position: fixed;
		top: 65px;
		left: 0; right: 0; bottom: 0;
		background: $color-black;
		align-items: center;
		flex-direction: column;
    	align-content: center;
    	justify-content: center;
    	opacity: 0;
		&__links {
			@extend %list-unstyled;
			margin-bottom: 30px;
			opacity: 0;
		}
		&__link {
			margin: 10px 0;
			a {
				@include rem(font-size, $font-size-lg);
				color: $color-brand-5;
				&:hover, &:focus {
					color: $color-white;
					text-decoration: none;
				}
			}
		}
		&__hotline {
			color: $color-brand-5;
			margin-bottom: 30px;
			display: none;
			opacity: 0;
			[class^="icon-"] { 
				display: inline-block;
				margin-right: 10px;
			}
			a {
				color: $color-brand-5;
				text-decoration: underline;
				&:hover, &:focus {
					color: $color-white;
					text-decoration: none;
				}
			}
			@include media-breakpoint-down(md) {
				display: block;
			}
		}
		&__social {
			margin-bottom: 30px;
			display: none;
			opacity: 0;
			[class^="icon-"] {
				display: inline-block;
				margin-left: 15px;
				transition: all 0.5s;
				&:hover, &:focus {
					&:before {
						color: $color-white;
					}
					[class^="path"] {
						&:before {
							color: $color-white;
						}
					}
				}
			}
			@include media-breakpoint-down(sm) {
				display: block;
			}
		}
		
		&.is-opening {
			display: flex;
			animation: fadeIn 0.75s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;	
			.nav__items__links {
				animation: fadeInUp 0.75s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.25s forwards;	
			}
			.nav__items__hotline {
				animation: fadeInUp 0.75s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s forwards;	
			}
			.nav__items__social {
				animation: fadeInUp 0.75s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.75s forwards;	
			}
		}
		
	}
}

@keyframes fadeIn {
    from {
    	opacity: 0;
    }
    to {
    	opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
    	opacity: 0;
    	transform: translateY(50px);
    }
    to {
    	opacity: 1;
    	transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
    	opacity: 0;
    	transform: translateX(30px);
    }
    to {
    	opacity: 1;
    	transform: translateX(0);
    }
}