// DATEPICKER
// ==========================================================================
$font-size-lg : 18px;
.ui-widget {
	font-size: 100%;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ui-datepicker.ui-datepicker-multi {
	width: auto !important;

	@include media-breakpoint-up(xl) {
		margin-left: -55px;
		margin-top: 15px;
	}
}

.ui-datepicker {
	padding: 0;
	font-family: $base-font-family;
	z-index: 9999 !important;
	box-shadow: 0 0 5px rgba($color-black, 0.3);
}

.ui-datepicker-header {
	border: none;
	background: $color-brand-4;
	font-weight: normal;
	font-size: 15px;
	text-align: center;
	padding: 5px 15px;
}

.ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
	@include rem(font-size, $font-size-lg);
	
	text-transform: uppercase;
	font-weight: $font-demi;
	padding: 5px 10px;
	color: $color-white;
	
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
	top: .3em;
	border: none;
	margin-top: 5px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span{
	font-size: 0;
	display: none;
}

.ui-datepicker .ui-datepicker-next:after,
.ui-datepicker .ui-datepicker-prev:after {
	color: white;
	font-family: fontAwesome;
	font-size: 16px;
}

.ui-datepicker .ui-datepicker-prev:after {
	content: '\f177';
	float: right;
}

.ui-datepicker .ui-datepicker-next:after {
	content: '\f178';
	float: left;
}

.ui-datepicker .ui-datepicker-prev span {
	background-position: -96px 0;
}

.ui-datepicker table {
	margin: 0;
}

.ui-datepicker th {
	@include rem(padding, 8px 10px);
	font-size: 13px;
	font-weight: normal;
	border: none;
	text-transform: uppercase;
}

.ui-datepicker td {
	border: none;
	padding: 1px;
	background: $color-white;
	height: 40px;
	width: 40px;
	line-height: 40px;
}

.ui-widget td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 16px;
	display: block;
	width: 100%;
	height: 100%;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: 1;
}

// default colors


.ui-widget td .ui-state-default {
	color: $color-brand-1;
}

.ui-widget {
	background: $color-white;
}


.ui-widget .ui-state-disabled .ui-state-default {
	color: rgba($color-black, .3);
	background: rgba($color-black, 0.1);

}

.ui-widget td .ui-state-active,
.ui-widget td .ui-state-hover {
	color: white;
	background: $color-brand-4;
}

// custom colors
.ui-widget {
	// background: $brand-color-2;
}
.ui-widget .ui-state-disabled .ui-state-default {
	// color: darken($brand-color-3, 10%);
}

.ui-widget td .ui-state-active,
.ui-widget td .ui-state-hover {
	background: $color-brand-4;
}

.ui-datepicker-group {
	margin: 0;
	padding: 0;
	
	&:first-child {
		border-right: 1px solid $color-gray-ccc;
		overflow: hidden;
	}
	&:not(:first-child) {
	}
}

.ui-datepicker-prev {
	float: left;
}
.ui-datepicker-next {
	float: right;
}
.ui-datepicker-week-end,
.ui-datepicker th {
	color: $color-brand-4;
	font-weight: $font-demi;
	font-size: $font-size-base;
}