// COLORS
// ==========================================================================
$color-brand-1: #333333; //
$color-brand-2: #666666; //
$color-brand-3: #95989A; //  
$color-brand-4: #030303; //  
$color-brand-5: #ADADAD; //  
$color-brand-6: #999999; //


// Based from
$color-gray-darker:  lighten(#000, 13.5%) !default;      // #222
$color-gray-dark:    lighten(#000, 20%)   !default;      // #333
$color-gray:         lighten(#000, 33.5%) !default;      // #555
$color-gray-light:   lighten(#000, 60%)   !default;      // #999
$color-gray-lighter: lighten(#000, 93.5%) !default;      // #eee
$color-gray-ccc:     lighten(#f3f3f3, 75%) !default; // #ccc

// Base
$color-black:      #000;
$color-white:      #fff;

$color-border: #b1b1b1;

$color-base-bg:         #fff                !default;
$color-base-txt:        $color-gray-dark    !default;
$color-base-link:       $color-brand-1        !default;
$color-base-link-hover: $color-gray-dark    !default;

$color-brand-primary:     $color-brand-1      !default;
$color-brand-secondary:   $color-brand-1      !default;

$color-primary-btn-bg:    $color-brand-1 !default;
$color-footer-title: $color-gray-dark !default;
