extends layouts/layout

block vars
	-title = 'Homepage'
	-bodyClass = ''
	-currentItem = 0

block container 
	main
		.hero
			.hero__item(style="background-image: url(images/hero-banner.jpg)")
			.hero__caption
				.hero__logo
					+img('images/logo-john-walker-and-sons.svg')
				h1.hero__title JOHN WALKER & SONS XR21 NĂM TUỔI
				.hero__desc Mạnh mẽ, cân bằng và thanh tao, JOHN WALKER & SONS XR&trade; 21 Năm Tuổi ẩn chứa những lớp hương đậm đà quyến rũ đem đến những sự ngạc nhiên dễ chịu. Vị ngọt cùng với chút cay nồng đã được làm dịu đi được giấu đi sau hương khói nồng ấm. Hương tươi mới của họ cam quýt, hương trái cây nhiệt đới chín mùi và hương caramel quyện trong hương củalá thuốc lá và nho khô. Hậu vị êm mượt kéo dài đầy đam mê quyến rũ.
				.hero__action
					+link('Mua Ngay','#').btn.btn--primary
				.hero__scrolldown(data-section="#enjoy")
					span Cách thưởng thức
					span.icon-arrow
		#enjoy.block
			h2.title-block CÁCH THƯỞNG THỨC
			.content
				p Hãy trải nghiệm hương vị sang trọng, đậm đà và giàu phức hợp hương của John Walker & Sons XR 21. Thóang nhẹ là hương vanilla êm đằm đang quyện trong sự gợi mở ngọt ngào của hương mật ong và cuối cùng là hậu vị êm mượt đến hòan hảo. Tuyệt với nhất khi thưởng thức nguyên chất trong phòng ở nhiệt độ thường, đi cùng là một ly soda ướp lạnh tươi mát.
				.content__img
					+img('images/johnnie-walker-double-black-and-soda-hibal.jpg')
				dl.content__steps
					dt I
					dd Chuẩn bị ly whisky cao 
					dt II 
					dd Dùng ly định lượng đo lấy 45 ml John Walker & Sons XR 21 
					dt III 
					dd Thưởng thức kèm một ly nước soda lạnh
		.block
			h2.title-block XÁC NHẬN THÔNG TIN KHÁCH HÀNG
			.content
				p Khách hàng để lại thông tin để nhận được giá tốt nhất và chính sách bán hàng hấp dẫn từ tổng đại lý phân phối của Johnnie Walker Việt Nam Chúng tôi cam kết uống có trách nhiệm
			form(action="#", method="post", name="guestInformation", id="guest-information-form").form-general
				.row.justify-content-center
					.col-md-6 
						+input('guest-name','Họ và tên *')(required).form-input
					.col-md-6
						+input('guest-phone','Số điện thoại *','tel')(required).form-input
				.row.justify-content-center
					.col-md-2
						label.form-select
							select(name='day')
								option(value=0) Ngày
								option(value=1) 1
								option(value=2) 2
								option(value=3) 3
								option(value=4) 4
								option(value=5) 5
								option(value=6) 6
								option(value=7) 7
								option(value=8) 8
								option(value=9) 9
								option(value=10) 10
								option(value=11) 11
								option(value=12) 12
								option(value=13) 13
								option(value=14) 14
					.col-md-2
						label.form-select
							select(name='day')
								option(value=0) Tháng
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4') 4
								option(value='5') 5
								option(value='6') 6
								option(value='7') 7
								option(value='8') 8
								option(value='9') 9
								option(value='10') 10
								option(value='11') 11
								option(value='12') 12
					.col-md-2
						label.form-select
							select(name='day')
								option(value=0) Năm
								option(value='1947') 1947
								option(value='1948') 1948
								option(value='1949') 1949
								option(value='1950') 1950
								option(value='1951') 1951
								option(value='1952') 1952
								option(value='1953') 1953
								option(value='1954') 1954
								option(value='1955') 1955
								option(value='1956') 1956
								option(value='1957') 1957
								option(value='1958') 1958
								option(value='1959') 1959
								option(value='1960') 1960
								option(value='1961') 1961
								option(value='1962') 1962
								option(value='1963') 1963
								option(value='1964') 1964
								option(value='1965') 1965
								option(value='1966') 1966
								option(value='1967') 1967
								option(value='1968') 1968
								option(value='1969') 1969
								option(value='1970') 1970
								option(value='1971') 1971
								option(value='1972') 1972
								option(value='1973') 1973
								option(value='1974') 1974
								option(value='1975') 1975
								option(value='1976') 1976
								option(value='1977') 1977
								option(value='1978') 1978
								option(value='1979') 1979
								option(value='1980') 1980
								option(value='1981') 1981
								option(value='1982') 1982
								option(value='1983') 1983
								option(value='1984') 1984
								option(value='1985') 1985
								option(value='1986') 1986
								option(value='1987') 1987
								option(value='1988') 1988
								option(value='1989') 1989
								option(value='1990') 1990
								option(value='1991') 1991
								option(value='1992') 1992
								option(value='1993') 1993
					.col-md-6
						+input('guest-email','Email','email').form-input
				.row.justify-content-center
					.col-md-12
						+textarea('guest-comment', 'Nội dung cần tư vấn hoặc địa chỉ giao nhận').form-area
				.row.justify-content-center
					.col-md-12
						label.form-custom
							+checkbox('disclaimer')
							span
							| Tôi đồng ý nhận nội dung cho Diageo trong tương lai và thông tin của tôi sẽ được sử dụng cho các mục đích tiếp thị
				.row.justify-content-center
					.col-md-12
						p Bằng cách nhập, bạn chấp nhận chính sách bảo mật và của chúng tôi
						p
							+link('Điều kiện sử dụng','#')
				.row.justify-content-center
					.col-md-12
						+button('XÁC NHẬN', 'submit-btn').btn.btn--submit

		
		