include ../mixins/all
footer.footer
	h3.footer__title THƯỞNG THỨC CÓ TRÁCH NHIỆM, 18+
	.footer__nav
		+link('CÁC ĐIỀU KHOẢN VÀ ĐIỀU KIỆN','#').footer__link
		+link('ĐIỀU LỆ BẢO MẬT','#').footer__link
		+link('QUYỀN TRUY CẬP','#').footer__link
		+link('DRINKAWARE.CO.UK','#').footer__link
		+link('DRINKIQ','#').footer__link
		+link('THEBAR.COM','#').footer__link
	.copyright CÁC DÒNG CHỮ JOHNNIE WALKER®, JOHNNIE WALKER® HOUSE, JOHN WALKER & SONS, RED LABEL®, BLACK LABEL®, DOUBLE BLACK™, GOLD LABEL RESERVE™, PLATINUM LABEL™, BLUE LABEL™, XR™, KING GEORGE V™, JOHN WALKER & SONS ODYSSEY™, JOHN WALKER™, DIAMOND JUBILEE™, ADVENTURER™, SPICE ROAD™, GOLD ROUTE™ VÀ THE ROYAL ROUTE™, BIỂU TƯỢNG NGƯỜI ĐÀN ÔNG SẢI BƯỚC VÀ CÁC LOGO LIÊN QUAN LÀ TÀI SẢN ĐÃ ĐĂNG KÝ CỦA CÔNG TY JOHN WALKER & SONS © 2016
.back-to-top